@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>_AdminLayout</title>
    @Styles.Render("~/Content/Admin")
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/jqueryui")
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/modernizr")

    <script type="text/javascript">
        //$(document).ready(function () {
        //    $("#admin_menu").find(".sub_menu").hover(
        //    function () {
        //        $(this).find("ul").show();
        //        $(this).find(".first_menu").find("a").css("color", "black")
        //        $(this).css({ "background-color": "white" });
        //    },
        //    function () {
        //        $(this).find("ul").hide();
        //        $(this).find(".first_menu").find("a").css("color", "rgb(204, 204, 204)");
        //        $(this).css("background-color", "rgb(70, 70, 70)");
        //    }
        //);
        //});
    </script>

</head>
<body>

        <div id="admin_menu">
            <ul>
                <li>
                    <a class="current_menu" href="#">
                        <div class="menu_name">文章</div>
                    </a>
                    <ul class="sub_menu">
                        <li>
                            <a class="current" href="#">所有文章</a>
                        </li>
                        <li>
                            <a href="#">写文章</a>
                        </li>
                        <li>
                            <a href="#">分类</a>
                        </li>
                    </ul>
                </li>
            </ul>
        </div>

    <div>
        @RenderBody()
    </div>
</body>
</html>
