@model Blog.Models.Post
@using Blog.Models

<article>
    <header class="entry-header">
        <h1>
            @Html.ActionLink(Model.Title, "Details", "Post", new { id = Model.Id }, new { @class = "entry-title" })

        </h1>
        <div class="">
            <a href="~/Post/Details/@Model.Id#comment">回复</a>
            @if (Roles.IsUserInRole("Admin"))
            {
                @Html.ActionLink("编辑", "Edit", "Post", new { id = Model.Id }, null)
            }
        </div>
    </header>
    <div id="content_@Model.Id" class="content">
        @Html.DisplayTextFor(model => Model.Content)
    </div>

    <div class="content_read">
        <a href="javascript:void(0)" onclick="showContent(@Model.Id)" class="content_read">阅读全文</a>
    </div>

    <footer class="footer">
        <p>@Html.DisplayFor(model => model.Comments.Count)条评论
        </p>
        <p>
            发表于 @Html.DisplayTextFor(model => Model.Date)
        </p>
        @if (Model.LastUpdate.HasValue && Model.LastUpdate.Value != Model.Date)
        {
            <p>
                最后编辑于 @Html.DisplayTextFor(model => Model.LastUpdate)
            </p>
        }
        <p>
            @if (Model.Categories.Count > 0)
            {
                int count = 0;
                <span>属于</span>
                foreach (var item in Model.Categories)
                {
                @Html.ActionLink(item.Name, "Index", "Home", new { cat = item.Id }, null)
                    count++;
                    if (count != Model.Categories.Count)
                    {
                <span>,</span>
                    }

                }
                <span>分类</span>
            }
        </p>
    </footer>
</article>
