@model Blog.Models.IndexModel

<div class="widget-area">
    <aside class="widget">
        @using (Html.BeginForm("Index", "Home", FormMethod.Get))
        { 
            <fieldset>
                @Html.TextBox("keyword", null, new { @class = "search_box" })
                <input value="搜索" type="submit">
            </fieldset>
        }
    </aside>
    <aside class="widget widget-recent-post">
        <h3 class="widget-title">近期文章</h3>
        <ul>

            @foreach (var item in Model.Posts.Take(5))
            {
                <li>
                    @Html.ActionLink(item.Title, "Details", "Post", new { id = item.Id }, null)
                </li>
            }
        </ul>
    </aside>
    <aside id="recent-comments-2" class="widget widget_recent_comments">
        <h3 class="widget-title">近期评论</h3>
        <ul id="recentcomments">
            @foreach (var item in Model.Comments)
            {
                <li>
                    <span>@Blog.Models.ModelHelper.GetUserNameForId(item.UserId)</span>
                    发表在
                    @{
                Blog.Models.Post post = Model.Posts.SingleOrDefault((T) => T.Id == item.PostId);
                if (post != null)
                {
                        @Html.ActionLink(post.Title, "Details", "Post", new { id = post.Id }, null)
                }
                    }

                </li>
            }
        </ul>
    </aside>
    <aside id="archives-2" class="widget widget_archive">
        <h3 class="widget-title">文章归档</h3>
        <ul>
            @foreach (var item in Model.ArchiveDateList)
            {
                string date = string.Format("{0}年{1}月", item.Year, item.Month);
                <li>@Html.ActionLink(date, "Index", "Home", new { date = new DateTime(item.Year, item.Month, 1).ToBinary() }, null)</li>
            
            }
        </ul>
    </aside>
</div>
