@model Blog.Models.Post

@Styles.Render("~/Scripts/kindEditor/css")
@Scripts.Render("~/Scripts/kindEditor/script")

@section scripts{
    <script type="text/javascript">
        var editor;
        KindEditor.ready(function (K) {
            editor = K.create('textarea[id="content"]', {
                resizeType: 1,
                allowPreviewEmoticons: false,
                allowImageUpload: false,
                items: [
                    'fontname', 'fontsize', '|', 'forecolor', 'hilitecolor', 'bold', 'italic', 'underline',
                    'removeformat', '|', 'justifyleft', 'justifycenter', 'justifyright', 'insertorderedlist',
                    'insertunorderedlist', '|', 'emoticons', 'image', 'link']
            });
        });
    </script>
}

@{
    ViewBag.Title = "New Post";
}

<h2>新建日志</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)
    
    <fieldset>
        <legend>Post</legend>
        <ol>
            <li>
                <label for="Title">标题</label>
                @Html.EditorFor(model => model.Title)
                @Html.ValidationMessageFor(model => model.Title)
            </li>
            <li>
                <label for="Status">访问权限</label>
                @Html.DropDownListFor(model => model.Status, ViewBag.Status as IEnumerable<SelectListItem>)

                @Html.ValidationMessageFor(model => model.Status)
            </li>
            <li>
                <label for="Category">分类</label>
                <div>
                    @{
    int count = 0;
    foreach (var item in (IEnumerable<Blog.Models.Category>)ViewBag.Categories)
    {
                        <input type="checkbox" name="Category" value="@item.Id" />
                        <span>@item.Name</span>
        count++;
        if (count == 5)
        {
            count = 0;
                        <br />
        }
    }
                    }
                </div>
            </li>
            <li>
                @Html.TextAreaFor(model => model.Content, new { id = "content", @class = "editor" })
                @Html.ValidationMessageFor(model => model.Content)
            </li>
        </ol>
        <p>
            <input type="submit" value="提交" />
        </p>
    </fieldset>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
