@model Blog.Models.Post

@{
    ViewBag.Title = Model.Title;
}

@section scripts{
    <script type="text/javascript">
        $(document).ready(function () {
            $("input[name='IsInEdit']").val("false");
        });

        function replyComment(commentId, userName) {
            var str = "取消回复" + userName;
            $("#reply_for").text(str);
            $("#reply_commentId").val(commentId);
            $("#comment_form").hide(400);
            $("#reply_form").show(400);
            $("#reply_form").find("textarea").select().focus();
            return false;
        }

        var msgItem = null;

        function hideMsg() {
            if (msgItem != null) {
                setTimeout(function () {
                    msgItem.hide(0, function () {
                        msgItem.remove();
                    });
                }, 3000);
            }
            //$(event.srcElement).hide(500);
        }

        function OnEditCommentSuccess(id) {
            $("#comment_header_" + id).append("<span class='edit_success'>修改成功</span>");
            var msg = $("#comment_header_" + id).find(".edit_success");
            msg.hide();
            msgItem = msg;
            msg.fadeIn(1000, function () {
                if (msg != null) {
                    setTimeout(function () {
                        msg.fadeOut(1000, function () {
                            msg.remove();
                        });
                    }, 3000);
                }
            });
        }

        function showCommentForm() {
            $("#comment_form").show(400);
            $("#reply_form").hide(400);
        }

        function deleteForm(content) {
            $("#editCommentForm").hide();
            $("#content_" + content).show();
            //$("div[id^='content_']").show();
            return true;
        }
        var g_editId = null;

        function editComment(id) {
            if (g_editId != id) {
                $("div[id^='content_']").show(400);
            }

            g_editId = id;

            $("div[id^='editCommentForm']").remove();
            var itemId = "#comment_id_" + id;
            var contentId = "#content_" + id;

            $(itemId).find("input[name='IsInEdit']").val("true");
            var token = $(itemId).find("input[name='__RequestVerificationToken']").val();
            var content = $(itemId).find(contentId);
            var commentId = $(itemId).find("#content_id").val();
            var postId = $(itemId).find("#post_id").val();
            var userId = $(itemId).find("#user_id").val();
            var contentText = content.text().trim();
            //content.attr("id");
            var form = "<div id='editCommentForm' style='display:none;'>\
                <form  method='post' action='/Comment/Edit' data-ajax-success='OnEditCommentSuccess("+ id + ");' data-ajax='true' data-ajax-mode='replace' data-ajax-update='" + contentId + "'>\
                <input type='hidden' name='__RequestVerificationToken' value='"+ token + "' />\
                <fieldset>\
                 <input type='hidden' name='Id' value='" + commentId + "'/>\
                <input type='hidden' name='PostId' value='" + postId + "'/>\
                 <input type='hidden' name='UserId' value='" + userId + "'/>\
                <textarea name='Content'>" + contentText + "</textarea>\
                 <br />\
                <input type='submit' onclick='deleteForm(" + id + ");' value='提交' />\
                </fieldset>\
                </form>\
                </div>";
            content.after(form);
            $("#editCommentForm").show(400);
            content.hide();
        }

        function deleteComment(id) {
            $("#comment_row_" + id).find("article").hide(500, function () {
                $("#comment_row_" + id).remove();
            });
            //$("#comment_row_" + id).remove();

        }
    </script>
}

<style type="text/css">
    #reply_form {
        display: none;
    }
</style>

<div class="site">
    @Html.Partial("_Navigation")

    <div class="main">
        <div class="site-content">
            <div>
                @Html.Partial("_PostInfo", Model)
            </div>

            <div class="comment">
                <h2>《@Html.DisplayTextFor(model => model.Title)》上有
                @Html.DisplayTextFor(model => model.Comments.Count)条评论
                </h2>
                <ol>
                    @foreach (var item in Model.Comments)
                    {
                        <li id="comment_row_@item.Id">
                            <article>
                                <header id="comment_header_@item.Id">
                                    <img src="~/User/GetIcon/@item.UserId" height="32"/>
                                    @{
                        string name = Blog.Models.ModelHelper.GetNickNameForId(item.UserId);
                                        <span>@name</span>
                                    }

                                    <span class="date">发表于  @Html.DisplayFor(model => item.Date)
                                    </span>
                                    @if (item.LastUpdate.HasValue && item.LastUpdate.Value != item.Date)
                                    {
                                        <span class="date">最后编辑于 @Html.DisplayFor(model => item.LastUpdate)
                                        </span>
                                    }
                                    @if (WebSecurity.CurrentUserId == item.UserId || Roles.IsUserInRole("Admin"))
                                    {
                                        <span><a href="javascript:void(0)" onclick="editComment(@item.Id)">编辑</a></span>
                                        
                                        @Ajax.ActionLink("删除", "Delete", "Comment", new { id = @item.Id }, new AjaxOptions
                                   {
                                       UpdateTargetId = "comment_row_" + item.Id.ToString(),
                                       InsertionMode = InsertionMode.InsertAfter,
                                       Confirm = "确定要删除此评论吗",
                                       OnSuccess = string.Format("deleteComment({0})", item.Id)
                                   })
@*<span><a href="javascript:void(0)" onclick="deleteComment(@item.Id)">删除</a></span>*@
                                    }

                                    @if (WebSecurity.CurrentUserId != item.UserId)
                                    {
                                        <span class="reply">
                                            <a href="javascript:void(0)" onclick="replyComment(@(item.Id), '@name')">回复</a>
                                        </span>
                                    }

                                </header>
                                <section>
                                    <div id="comment_id_@item.Id">
                                        <input name="IsInEdit" type="hidden" value="false" />
                                        @Html.AntiForgeryToken()
                                        <input type="hidden" id="content_id" value="@item.Id" />
                                        <input type="hidden" id="post_id" value="@item.PostId" />
                                        <input type="hidden" id="user_id" value="@item.UserId" />
                                        <div id="content_@item.Id" class="content">
                                            @Html.DisplayTextFor(model => item.Content)
                                        </div>
                                    </div>
                                    <ul>
                                        @foreach (var reply in item.Replies)
                                        {
                                            <li>
                                                <header>
                                                    <img src="~/User/GetIcon/@reply.UserId" height="32"/>
                                                    <span>@Blog.Models.ModelHelper.GetNickNameForId(reply.UserId)</span>
                                                    <span class="date">回复 @Blog.Models.ModelHelper.GetNickNameForId(item.UserId) 于 @Html.DisplayFor(model => reply.Date)
                                                    </span>
                                                    <br />
                                                </header>
                                                <section>
                                                    @Html.DisplayTextFor(model => reply.Content)
                                                </section>
                                            </li>
                                        }
                                    </ul>
                                </section>

                            </article>
                        </li>
                    }

                </ol>

            </div>
            <div id="comment">


                @using (Html.BeginForm("Create", "Comment", FormMethod.Post, new { id = "comment_form" }))
                {
                    <h4>发表评论</h4>
                    
                    @Html.AntiForgeryToken()
                    @Html.ValidationSummary(true)

                    @Html.TextArea("Comment.Content")
                    @Html.Hidden("Comment.PostId", Model.Id)
                  
                    <input type="submit" value="发表评论" />
                }

                @using (Html.BeginForm("CreateReply", "Comment", FormMethod.Post, new { id = "reply_form" }))
                {
                    <h4>发表回复</h4>
                    
                    @Html.AntiForgeryToken()
                    @Html.ValidationSummary(true)

                    @Html.TextArea("Reply.Content")
                    @Html.Hidden("Reply.CommentId", null, new { id = "reply_commentId" })
                  
                    <input type="submit" value="发表回复" />
                    <a href="javascript:void(0)" onclick="showCommentForm()"><span id="reply_for"></span></a>
                }

            </div>
        </div>

        <div>
            @Html.Partial("_Widget", ViewData["IndexModel"])
        </div>

    </div>
</div>
