@model IEnumerable<Blog.Models.Post>

@{
    ViewBag.Title = "Index";
}



<script type="text/javascript">
    $(document).ready(function () {
        $("#manage-post").find("tr").hover(function () {
            $(this).find(".post-menu").css("visibility", "visible");
            $(this).css("background-color", " rgb(226, 226, 226)");
        },

        function () {
            $(this).find(".post-menu").css("visibility", "hidden");
            $(this).css("background-color", "rgb(239, 238, 239)");

        }
        )
    })
</script>


<h2>日志管理</h2>

<p>
    @Html.ActionLink("新建日志", "Create")
</p>

<table id="manage-post">
    <tr>
        <th>
            <span>标题</span>
        </th>
        <th>
            <span>作者</span>
        </th>
        <th>
            <span>查看</span>
        </th>
        <th>
            <span>日期</span>
        </th>
    </tr>

    @foreach (var item in Model.OrderByDescending((T)=>T.Date))
    {
        <tr id="@item.Id">
            <td class="title">
                @Html.ActionLink(item.Title, "Details", new { id = item.Id })
                <div class="post-menu">
                    <span>
                        @Html.ActionLink("编辑", "Edit", new { id = item.Id })|
                    </span>
                    <span>
                        @Ajax.ActionLink("删除", "Delete", new { id = item.Id }, new AjaxOptions
                   {
                       UpdateTargetId = item.Id.ToString(),
                       Confirm = "确定删除？",
                       InsertionMode = InsertionMode.Replace
                   })|
                    </span>
                    <span>
                        @Html.ActionLink("查看", "Details", new { id = item.Id })
                    </span>
                </div>
            </td>
            <td>
                <span>@Blog.Models.ModelHelper.GetUserNameForId(item.UserId)</span>
            </td>
            <td>
                @{
        
        var status = (from c in (List<SelectListItem>)ViewBag.Status
                      where c.Value == item.Status
                      select c.Text).SingleOrDefault();
                    <span>@status</span>
 
                }
            </td>
            <td>
                @Html.DisplayFor(model => item.Date)
            </td>
        </tr>
    }
</table>

