@model Blog.Models.Category

@{
    ViewBag.Title = "Create";
}

<h2>管理分类</h2>

<script type="text/javascript">
    $(document).ready(function () {
        $("#manage-post").find("tr").hover(function () {
            $(this).find(".post-menu").css("visibility", "visible");
            $(this).css("background-color", " rgb(226, 226, 226)");
        },

        function () {
            $(this).find(".post-menu").css("visibility", "hidden");
            $(this).css("background-color", "rgb(239, 238, 239)");

        }
        )
    })
</script>
<div>
    <table id="manage-post">
        <tr>
            <th>
                <span>分类名</span>
            </th>
            <th>
                <span>文章数</span>
            </th>
        </tr>
        @foreach (var item in (IEnumerable<Blog.Models.Category>)ViewBag.Categories)
        {
            <tr>
                <td class="">
                    @Html.ActionLink(item.Name, "Index", "Home", new { cat = item.Id }, null)

                    <div class="post-menu">
                        <span>
                            @Html.ActionLink("编辑", "Edit", new { id = item.Id })|
                        </span>
                        <span>
                            @Ajax.ActionLink("删除", "Delete", new { id = item.Id }, new AjaxOptions
                   {
                       UpdateTargetId = item.Id.ToString(),
                       Confirm = "确定删除？",
                       InsertionMode = InsertionMode.Replace
                   })|
                        </span>
                        <span>
                            @Html.ActionLink("查看", "Index", "Home", new { cat = item.Id }, null)
                        </span>
                    </div>

                </td>
                <td>@item.Posts.Count</td>
            </tr>
        }
    </table>
</div>


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary(true)

    <fieldset>
        <legend>Category</legend>



        <div class="editor-label">
            <label>新类别</label>
        </div>
        <div class="editor-field">
            @Html.EditorFor(model => model.Name)
            @Html.ValidationMessageFor(model => model.Name)
        </div>

        <p>
            <input type="submit" value="新增" />
        </p>
    </fieldset>
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
